@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
}

.container__logo{
    width: 6rem;
    margin-bottom: 1rem;
}

.container__header{
    text-align: center;
    margin: 1rem 0;
}

.container__header__title, .bold{
    font-size: 2.6rem;
}

.container__header__title{
    color: var(--gray);
    font-weight: 300;
    margin-bottom: 1rem;
}
.bold{
    font-weight: 700;
    color: var(--very-dark-blue);
}

/* Notify */
.container__notify, 
.container__notify > *,
input{
    width: 100%;
}

.container__notify__field_text{
    border-radius: 2rem;
    border: none;
    border: 1px solid var(--gray);
    padding: 0.7rem;
    margin: 1rem 0;
    color: var(--gray);
}

.container__notify__btn{
    border-radius: 2rem;
    padding: 0.7rem;
    border: none;
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    box-shadow: 5px 5px 5px var(--pale-blue);
    cursor: pointer;
}

.container__notify__btn:hover{
    opacity: 0.8;
}

.container__dashboard{
    width: 100%;
    margin-top: 5rem;
}

/* footer */
.container__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.container__footer__social{
    color: var(--blue);
    margin-bottom: 1rem;
}

ion-icon{
    background-color: white;
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.container__footer__copyright{
    color: var(--gray)
}